{% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'adminpanel/style.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootnotestrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
				<div class="container">
				<hr><strong>Problem Name : {{ problem.p_name }} </strong><hr><strong>Contest Name : {{ problem.Contest.con_name }} </strong>
				<hr>
				<strong>Problem Statement :<br> {{ problem.p_disc }} </strong>
				<hr>
				
				<form action="{%  url 'adminpanel:savetest' problem.id %}" method="post">
				{% csrf_token %}
      			<div class="form-group">
			  	<label for ="description"> Input Format:</label>
			  	<textarea  class="form-control" id="description" name="input" placeholder="Enter Your Message" rows="10"></textarea>
					</div>
				<div class="form-group">
			  	<label for ="description">Output format:</label>
			  	<textarea  class="form-control" id="description" name="output" placeholder="Enter Your Message" rows="10"></textarea>
				</div>
				<div class="form-group">
			  	<label for ="description">weightage:</label>
			  	<input type="number" class="form-control" id="description" name="weight" placeholder="Enter Your weight" rows="10"/>
				</div>
				
					<button type="submit" href="" class="btn btn-default">ADD TEST CASE</button>
				</form>
				</div>
